.App {
  text-align: center;
  font-family: Verdana, sans-serif;
}

.cutIt {
  text-decoration: line-through;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li {
  margin-left: 20;
  list-style-type: none;
}

.item{
  background-image: linear-gradient(to right, rgb(255, 0, 242), rgb(62, 123, 255));
  border-radius: 5px;
  color: white;
}

.overflow-y{
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
